<!doctype html>
<html lang="en">
    <head>
        <title>Practicing html</title>
        <meta charset="utf-8">
    </head>
    <body>
        <div>
            <h1><a href="/">We're practicing HTML here</a></h1>
        </div>

        <div>
            <p>published: Does it really matter?</p>
            <h2><a href="">First Post</a></h2>
            <p>I'm not going to write Latin here because I don't actually know it.</p>
        </div>

        <div>
            <p>published: Don't care</p>
            <h2><a href="">Second Post</a></h2>
            <p>I'll be changing this text anyway.</p>
        </div>
    </body>
</html>